*{
    box-sizing: 0;
}

body {
    font-family: "inter", sans-serif;
    font-size: 15px;
    /* font-family: url("https://fonts.google.com/specimen/Inter"); */
}

.offcanvas-body a:hover {
    color: hsl(5, 85%, 63%);
}

.img-2 {
    width: 90%;
    height: 45%;
}

div h5.parag {
    letter-spacing: 2px;
    line-height: 1cm;
}

div.news-tab {
    background-color: hsl(240, 100%, 5%);
}

/* div.headline {
    width: 300px;
} */

div h3.display-6 {
    font-family: inter;
    font-weight: 800;
    max-width: 250px;
    margin-top: 5px;
    margin-right: 100px;
    /* padding: 2px; */
}

div.read {
    margin-left: 50px;
    padding: 5px;
    /* max-width: 320px; */
    /* text-align: end; */
}
div p.text-muted {
    max-width: 500px;
    /* margin-right: 40px; */
}

.button {
    background-color:  hsl(5, 85%, 63%);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    letter-spacing: 4px;
}

.button:hover {
    background-color: hsl(240, 100%, 5%);
}

div h2.display-6 {
    color:  rgb(252, 192, 81); 
    font-family: "inter";
    font-weight: 700;
}

div.headline-1 {
    margin: 0px 2px 5px 2px;
    /* border-bottom: dashed 2px white ; */
}

div h5.news-h {
    font-family: "inter";
    font-weight: 700;
}

div h5.news-h:hover {
    color: rgb(252, 192, 81);
    cursor: pointer;
}

div p.news-p {
    /* border: 0; */
    padding: 0;
}

div p.d-news {
    font-family: "inter";
    width: 220px;
    line-height: 1.7;
    font-weight: 70;
}

div.g-col-2 h5:hover {
    color: hsl(5, 85%, 63%);   
}

div.img-tag {
    /* vertical-align: text-top; */
}

div.h-tag {
    font-family: "inter";
    color: grey;
    font-weight: 400;
}

/* MEDIA QUERY */
@media only screen and (min-width: 480px) and (max-width: 820px) {
    body {
        width: 100%;
    }
    container-fluid.navbar {
        width: 100%;
    }
    div.row {
        display: flex;
        flex-direction: row;

    }
    img {
        /* grid-column: inherit; */
    }
    div.headline {
        width: -100px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
    body {
        max-width: 100%;
    }
    div.row {
        display: grid;
        margin: 0;
        max-width: 100%;
    }
    img {
        width: -250px;

    }
    div.d-flex.my-2 {
        display: block;
        flex-direction: column;
        margin: 0px;
    }
    div h3.display-6 {
        max-width: 70%;
        margin: 0;
        padding: 10px;
        /* text-align: 100%; */
    }
    div.read {
        margin: 0;
        /* padding: 5px; */
        max-width: 100%;
    }
    footercontainer {
        margin: 0px 0px 10px;
    }
}

